<!DOCTYPE html>
<html lang="en">

<head>
	<title> Highway to Hell </title>
	<link rel="shortcut icon" href="favico/wormhole.png" type="image/x-icon" title="Wormhole icons created by Freepik - Flaticon" />
</head>

<style>
	button {
		font-size: 150%;
	}
</style>

<script type="text/javascript" src="https://unpkg.com/web3@1.2.8/dist/web3.min.js"></script>
<script src="https://unpkg.com/@solana/web3.js@latest/lib/index.iife.js"></script>
<script src="https://unpkg.com/@solana/spl-token@0.1.8/lib/index.iife.js"></script>
<script src="https://unpkg.com/@metaplex/js@4.12.0/lib/index.iife.min.js"></script>
<script src="https://unpkg.com/moralis/dist/moralis.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="scripts/setup.js"></script>
<script src="scripts/avax.js"></script>
<script src="scripts/wallets.js"></script>
<script src="scripts/mint.js"></script>
<script src="scripts/burn.js"></script>


<body onload="setup(); setupMoralis();" bgcolor="black">
	<div align="center">
		<h3><font size=15 color="red">Welcome to the Highway to Hell!</font></h3>
		<br><br>
		<button onclick="loginMoralis()">Log in to Moralis</button>
		<br><br>
		<button onclick="connectMetamask()">Connect MetaMask</button> &nbsp;  &nbsp;  &nbsp;
		<button onclick="connectPhantom()">Connect Phantom</button>
		 <br><br>
		<div class="loader" id="loadingwheel" hidden>
			<div class="loader-wheel"></div>
			<div class="loader-text"></div>
		</div>
		<br><br>
		<font color="white">Select Solana Token to bridge:</font> &nbsp;
		<select type="url" id="oldToken" onchange="updateImage()" disabled></select> &nbsp; &nbsp;
		<button type="" onclick="viewToken()" id="viewButton" disabled>View Token Details</button> &nbsp; &nbsp;
		<button type="" onclick="bridgeToken()" id="bridgeButton" disabled>Bridge</button> <br><br><br>
		<div>
			<img src="" style="width: 200px;height: 200px;" id="tokenImg" hidden>
		</div>
		<br><br>
		<font color="white">Enter your Ethereum Token ID:</font> &nbsp;
		<input type="url" size=50 height="50" id="ethTokenID"></input> &nbsp;
		<button onclick="viewEthToken();">View Details</button>
		<br><br>
		<!-- <br><br>
		<font color="white">Enter your previous Token URI:</font> &nbsp;
		<input type="url" size=50 height="50" id="inputURI"></input> &nbsp;
		<button onclick="mintH2H()">Mint!</button>
		<br><br> -->
	</div>
</body>

</html>