<!DOCTYPE html>
<html lang="en">

<head>
	<title> Highway to Hell </title>
	<link rel="shortcut icon" href="{{url_for('static', filename='favico/wormhole.png')}}" type="image/x-icon" title="Wormhole icons created by Freepik - Flaticon" />
</head>

<script>
	function loadAvaToEthBridge() {
		location.href = "avalanche-to-ethereum";
	}
	function loadSolToEthBridge() {
		location.href = "solana-to-ethereum";
	}
</script>

<style>
	button {
		font-size: 200%;
	}
</style>

<body bgcolor="black">
	<div align="center">
		<h3><font size=15 color="red">Welcome to the Highway to Hell!</font></h3>
		<br><br>
		<br><br>
		<br><br>
		<button onclick="loadAvaToEthBridge()">Avalanche to Ethereum</button>
		<br><br>
		<br><br>
		<button onclick="loadSolToEthBridge()">Solana to Ethereum</button>
		<br><br>
	</div>
</body>

</html>